<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <style>
      :root {
        --primary: purple;
      }
    </style>
    <script type="text/javascript">
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: "var(--primary)",
            },
            transitionDuration: {
              hover: "200ms",
            },
          },
        },
      };
    </script>
  </head>
  <body class="font-sans antialiased">
    <main class="p-12">
      <header>
        <div class="flex items-center space-x-2">
          {{#each breadcrumb}}
          <a href="{{path}}" class="text-sm hover:text-primary duration-hover">{{title}}</a>
          {{/each}}
        </div>

        <h1 class="text-3xl font-semibold">{{title}}</h1>
      </header>

      <div>
        <p>Table of contents</p>

        <div>
          <ul>
            {{#each toc as |h2|}}
            <li>
              <a href="#{{h2.slug}}" class="text-primary hover:text-red-500 duration-hover">{{h2.text}}</a>
            </li>
            <li>
              <ul class="ml-4">
                {{#each h2.children as |h3|}}
                <li>
                  <a href="#{{h3.slug}}" class="text-primary hover:text-red-500 duration-hover">{{h3.text}}</a>
                </li>
                <li>
                  <ul class="ml-4">
                    {{#each h3.children as |h4|}}
                    <li>
                      <a href="#{{h4.slug}}" class="text-primary hover:text-red-500 duration-hover">{{h4.text}}</a>
                    </li>
                    <li>
                    <ul class="ml-4">
                      {{#each h4.children as |h5|}}
                      <li>
                        <a href="#{{h5.slug}}" class="text-primary hover:text-red-500 duration-hover">{{h5.text}}</a>
                      </li>
                      <li>
                      <ul class="ml-4">
                        {{#each h5.children as |h6|}}
                        <li>
                          <a href="#{{h6.slug}}" class="text-primary hover:text-red-500 duration-hover">{{h6.text}}</a>
                        </li>
                        {{/each}}
                      </ul>
                      {{/each}}
                    </ul>
                  </li>
                    {{/each}}
                  </ul>
                </li>
                {{/each}}
              </ul>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>

      <div id="content" class="prose max-w-none">
        {{{content}}}
      </div>
    </main>

    <script src="https://unpkg.com/alpinejs" defer></script>
  </body>
</html>
