<html class="h-screen">
  <head>
    <title>{{title}} | {{site.title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <style>
      [x-cloak] { display: none !important; }

      :root {
        --primary: purple;
      }
    </style>
    <script type="text/javascript">
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: "var(--primary)",
            },
            transitionDuration: {
              hover: "200ms",
            },
          },
        },
      };
    </script>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="/livereload.js?port=8999&amp;mindelay=10"></script>
  </head>
  <body class="font-sans antialiased flex flex-col min-h-full">
    <main class="flex-1">
      <nav class="bg-gray-200 py-2 shadow-md">
        <div class="mx-auto container px-4 md:px-0">
          <a href="/" class="text-xl hover:text-primary duration-hover">
            {{site.title}}
          </a>
        </div>
      </nav>

      <header class="py-8 mx-auto container px-4 md:px-0">
        <div class="flex items-center space-x-2">
          {{#each breadcrumb}}
          <a href="{{path}}" class="text-sm hover:text-primary duration-hover">{{title}}</a>
          {{/each}}
        </div>

        <h1 class="text-3xl font-semibold">{{title}}</h1>
      </header>

      <div class="mx-auto container px-4 md:px-0">
        <div class="flex flex-row">
          <aside class="w-1/4">
            {{> sidebar site.pages}}
          </aside>
          <main class="grow">
            <div id="content" class="prose max-w-none">
              {{{content}}}
            </div>
          </main>
          {{#with toc as |toc|}}
          <aside class="w-1/4">
            {{> toc toc}}
          </aside>
          {{/with}}
        </div>
      </div>
    </main>

    <footer class="bg-black text-gray-200 pt-4 pb-8 shadow-md" x-data="{ year: new Date().getFullYear() }">
      <div class="mx-auto container px-4 md:px-0 text-right" x-cloak>
        <span class="text-sm">Copright &copy; <span x-text="year"/></span>
      </div>
    </footer>
  </body>
</html>
